{
  "general": {
    "sampling_time": VALUE
  },
  }
  "openweaterapi": {
    "api_key": "YOUR API TOKEN"
  },
  "influxdb": {
    "username": "John Doe",
    "password": "mysupersecretpassword",
    "host": "host address",
    "dbname": "database",
    "port": "1234",
    "table": "xyz"
  }
}